.header{
  top: 0;
  color: white;
  width: 100%;
  height: 60px;
  padding: 6px 10px;
  display: flex;
  position: fixed;
  align-items: center;
  background-color: var(--Background-Color);
  justify-content: space-between;
  transition: box-shadow 0.6s;
}

.header-scroll{
  box-shadow: 0 0 10px var(--Primary-Color);
}

.header-title{
  cursor: pointer;
  height: 100%;
  display: flex;
  font-size: 12px;
  column-gap: 10px;
  align-items: center;
}

.header-menu{
  cursor: pointer;
  font-size: 30px;
}

.header-title-img{
  height: 100%;
}

.header-navbar{
  top: 0;
  right: -390px;
  width: min(380px, 100%);
  height: 100vh;
  padding: 40px 10px;
  display: flex;
  position: fixed;
  transition: right 0.5s;
  flex-direction: column;
  justify-content: center;
  background-color: #222222;
  box-shadow: 0 0 10px var(--Primary-Color);
}

.selectLang{
  top: 14px;
  left: 14px;
  color: var(--Text-Color);
  width: 130px;
  height: 30px;
  position: absolute;
  border-radius: 4px;
}

.selectLang-switch{
  right: 6px;
  position: absolute;
  font-size: 18px;
  transition: transform 0.5s;
}

.selectLang-open .selectLang-switch{
  transform: rotate(-90deg);
}

.selectLang-selected{
  height: 100%;
  z-index: 2;
  display: flex;
  padding: 4px 6px;
  position: relative;
  column-gap: 4px;
  align-items: center;
  border-radius: 4px;
  background-color: #363636;
}

.selectLang-selected::after{
  width: calc(100% - 12px);
  height: 1px;
  bottom: -1px;
  content: "";
  position: absolute;
  transition: background-color 0.5s;
}

.selectLang-open .selectLang-selected::after{
  background-color: #1b1b1b;
}

.selectLang-selected img{
  height: 100%;
}

.selectLang-options{
  top: 0;
  width: 100%;
  height: 100%;
  row-gap: 6px;
  display: flex;
  overflow: auto;
  position: absolute;
  transition: height 0.5s, padding 0.5s;
  border-radius: 4px;
  flex-direction: column;
  background-color: #363636;
}

.selectLang-open .selectLang-options{
  height: 114px;
  padding-top: 40px;
}

.selectLang-option{
  width: 120px;
  height: 30px;
  display: flex;
  padding: 4px 6px;
  column-gap: 4px;
  align-items: center;
}

.option-selected{
  color: var(--Primary-Color);
}

.selectLang-option img{
  height: 100%;
}

.header-close-menu{
  top: 14px;
  right: 10px;
  font-size: 30px;
  position: absolute;
}

.open-menu{
  right: 0px;
}

.header-list{
  display: flex;
  row-gap: 16px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.header-item{
  width: 100%;
  height: 100%;
  padding: 6px;
  display: flex;
  justify-content: center;
}

.header-link{
  color: var(--Text-Color);
  height: 100%;
  display: flex;
  font-size: 18px;
  column-gap: 6px;
  align-items: center;
}

.link-active{
  color: var(--Primary-Color);
}


@media screen and (min-width: 720px) {
  .header{
    padding: 0
  }

  .header-title{
    padding: 10px 20px;
  }

  .header-menu{
    display: none;
  }

  .header-navbar{
    width: auto;
    height: 100%;
    padding: 6px 20px;
    display: block;
    position: static;
    box-shadow: none;
    background-color: transparent;
  }

  .header-list{
    height: 100%;
    row-gap: 0;
    padding: 0;
    direction: rtl;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .header-close-menu{
    display: none;
  }

  .header-item{
    width: auto;
    padding: 0 10px;
    overflow: hidden;
    border-right: #505050 2px solid;
  }

  .header-item:first-child{
    border: none;
  }

  .header-link{
    transform: translateX(40%);
    direction: ltr;
    font-size: 15px;
    column-gap: 6px;
    transition: transform 0.5s;
  }

  .header-link i{
    font-size: 18px;
  }

  .header-link p{
    opacity: 0;
    transition: opacity 0.5s;
  }

  .header-item:hover .header-link{
    transform: translateX(0);
  }

  .header-item:hover .header-link p{
    opacity: 1;
  }
}