:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
  --Background-Color: #181818;
  --Primary-Color: #E8C71D;
  --Text-Color: #d8d8d8;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--Background-Color);
}

h1, h2, h3, h4, p, ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}